.searchBar_wrapper {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100vw;


    .searchBar {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        justify-items: center;
        justify-content: center;
        justify-self: center;
        align-items: center;
        gap: 8px;
    
        &_input {
            height: 30px;
            font-size: 16px;
            color: rgb(112, 112, 112);
            border: none;
        }
        
        &_button {
            color: white;
            background-color: #EF9E00;
            height: 30px;
            border: none;
        }
    }
}